<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">

        <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>

        <ul *ngIf="authService.loggedIn()" class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/matches']">Matches </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/likes']">Likes</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/messages']">Messages</a>
            </li>
        </ul>

        <div *ngIf="authService.loggedIn()" class="dropdown" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>
                Welcome {{ authService.decodedToken.unique_name | titlecase }}
            </a>

            <div class="dropdown-menu custom-dropdown" *dropdownMenu>
                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
                <div class="dropdown-diveder"></div>
                <a class="dropdown-item" (click)="authService.logout()"><i class="fa fa-sign-out"></i>
                    Logout</a>
            </div>
        </div>

        <form *ngIf="!authService.loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
            <input class="form-control mr-sm-2" name="username" autocomplete="username" type="text"
                placeholder="Username" [(ngModel)]="model.username" required>
            <input class="form-control mr-sm-2" name="password" autocomplete="current-password" type="password"
                placeholder="Password" [(ngModel)]="model.password" required>
            <button class="btn btn-outline-success my-2 my-sm-0" [disabled]="!loginForm.valid"
                type="submit">Login</button>
        </form>
    </div>
</nav>