.img-thumbnail {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 85%;
  height: 85%;
}

.card-body {
  padding: 0 25px;
}

.card-forter {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}

.photo {
  display: flex !important;
  justify-content: center !important;
}